.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.planCardContainer{
  margin-left: 50px;
}
.cardContent{
  text-align: center;
}
.cardTitle{
  font-size: 20px;
  color: darkblue;
  
}

.cardSection1{
  font-size: 20px;
  color: darkblue;
  line-height: 1.6;
}
.cardSection2{
  font-size: 15px;
  color: darkblue;
}
.btnSelected{
  background-color: green;
  color: white
}

mat-expansion-panel{
  width:970px;
  text-align: center;
}
.inclusions{
  font-size: 20px;
  color: #0b0b6b;
  font-style: italic;
}
.exclusions{
  font-size: 20px;
  color: #0b0b6b;
  font-style: italic;
  margin: 20px 0px 20px 0px;
}
/****************************************************************/
.mainContainer{
  text-align: center;
  margin-left: 50px;
  display: flex;
}
.cardContainer{
  margin-top: 20px;
  position: relative;
  width: 290px;
  height: 200px;
  vertical-align: middle;
}

.card{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d ;
  transition: all 0.5s ease;
  border-radius: 20px;
  position: absolute;
  
}

.card:hover{
  transform: rotateY(180deg);
}

.front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #0b0b6b;
  opacity: 0.8;
  color: whitesmoke;
  border-radius: 20px;
  font-size: 15px;
  line-height: 1.5;
  vertical-align: middle;
}

.title {
  padding: 50px;
  margin: auto;
  
  
}
.greenTick{
  padding: 0px;
  height: 20px;
  width: 30px;
  position:absolute;
  
  margin-top: 10px;
  margin-left: 90px;
}
.cardDescr{
  padding: 10px 50px 0px 50px;
  margin-top: 10px;
  
  
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background :whitesmoke;
  color: #0b0b6b;
  border-radius: 20px;
  text-align: center;
  font-size: 13px;
  transform: rotateY(180deg);
  vertical-align: middle;
}

.btnMalware{
  width: 100px;
  text-align: left;  
    background: white url(../../assets/images/icons8-add-24.png) 70px 5px no-repeat;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    color: #0b0b6b ;
    margin-left: 10px;
}

.btnMalwareSelected{
  width: 129px;
  text-align: left;  
    background: green ;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    color: white ;
    margin-left: 10px;
}