<div class="main-container">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Personal Details
            </mat-panel-title>
            
            
        </mat-expansion-panel-header>
        <form [formGroup]= "detailsForm" (ngSubmit) = "saveDetails()">
            <div>
                <mat-form-field appearance="fill" ngDefaultControl>
                    <mat-label>Salutation</mat-label>
                    <select matNativeControl required formControlName="salutation">
                      <option value="Mr">Mr.</option>
                      <option value="Mrs">Mrs.</option>
                      <option value="Mst">Mst.</option>
                      <option value="Miss">Miss</option>
                    </select>
                  </mat-form-field>    
              <mat-form-field class="txtFirstName" appearance="fill" formControlName="firstName" ngDefaultControl>
                <mat-label>First name</mat-label>
                <input matInput required value="{{firstName}}">
              </mat-form-field>    
              <mat-form-field class="txtLastName" appearance="fill" formControlName="lastName" ngDefaultControl>
                <mat-label>Last name</mat-label>
                <input matInput required autocomplete="off">
              </mat-form-field>          
            </div> 
            <div>
              <mat-form-field class="datePicker" formControlName ="birthDate" ngDefaultControl>
                  <mat-label>Select birthdate</mat-label>
                 <input matInput [matDatepicker] = "birthdate" required autocomplete="off">
                 <mat-datepicker-toggle [for] ="birthdate" matSuffix></mat-datepicker-toggle>
                 <mat-datepicker #birthdate></mat-datepicker> 
              </mat-form-field>     
              <mat-form-field class="txtEmail" appearance="fill" formControlName ="email" ngDefaultControl>
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="Ex. abc@example.com" required autocomplete="off">
              </mat-form-field>    
              <mat-form-field class="txtSendQuoteAt" appearance="fill" formControlName="sendQuoteAt" ngDefaultControl>
                  <mat-label>Send me quote at</mat-label>
                  <input matInput placeholder="Your 10-digit mobile number" required autocomplete="off">
              </mat-form-field>          
              </div>
              <div>
                <mat-form-field appearance="fill" formControlName ="aadhar" class="txtAadhar" ngDefaultControl>
                    <mat-label>Aadhar Number</mat-label>
                    <input matInput required #aadharNumber maxlength="12" autocomplete="off">
                    <mat-hint align="end">{{aadharNumber.value.length}} / 12</mat-hint>
                  </mat-form-field>     
                  <mat-form-field class ="txtIncome" appearance="fill">
                    <mat-label>Source of income</mat-label>
                    <select matNativeControl required  formControlName="income">
                        <option value="earned">Earned income</option>
                        <option value="business">Business income</option>
                        <option value="interest">Interest income</option>
                        <option value="dividend">Dividend income</option>
                        <option value="other">Other</option>
                    </select>
                  </mat-form-field>         
                </div>
                <div>
                  <button mat-raised-button class="btnDone" type="submit" color="primary" [disabled] = "!detailsForm.valid">Save</button>
                </div>

        </form>
    </mat-expansion-panel>     
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Additional Details
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup] = "additionalDetailsForm" (ngSubmit) ="saveAdditionalDetails()">
          <div>
          <mat-form-field class="policyStartDate" formControlName ="policyStartDate" ngDefaultControl>
            <mat-label>Select Policy start date</mat-label>
           <input matInput [matDatepicker] = "pStartDate" required [min]="minStartDate" autocomplete="off">
           <mat-datepicker-toggle [for] ="pStartDate" matSuffix></mat-datepicker-toggle>
           <mat-datepicker #pStartDate></mat-datepicker> 
        </mat-form-field> 
        <mat-form-field class="policyEndDate" formControlName ="policyEndDate" ngDefaultControl>
          <mat-label>Select Policy end date</mat-label>
         <input matInput [matDatepicker] = "pEndDate" required [min]="minEndDate" autocomplete="off" >
         <mat-datepicker-toggle [for] ="pEndDate" matSuffix></mat-datepicker-toggle>
         <mat-datepicker #pEndDate></mat-datepicker> 
      </mat-form-field> 
          </div>
          <div>
            <p>Go Green and Make a difference!! By choosing this option, only soft copy of Policy shall be delivered to your registered mail. 
            </p>
            <button mat-raised-button class="btnYes" type="button" color="primary">Yes</button>
            <button mat-raised-button class="btnNo" type="button" color="primary">No</button>
          </div>
          <div>
            <button mat-raised-button type="submit" class="btnDone" [disabled] ="!additionalDetailsForm.valid" color="primary">Save</button>
          </div>
        </form>
    </mat-expansion-panel>      
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Security incidents and loss History
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form (ngSubmit) ="saveSecurityDetails()">
          <p>Select the options that are applicable to you</p>
            <div *ngFor="let choice of checks; let i=index">
            <mat-checkbox color="primary" [value] = "choice.value" (change) ="onCheckChange($event,i)">
              {{choice.description}}
            </mat-checkbox><br>
            
          </div>
          <div>
            <button mat-raised-button class="btnDone" type="submit" color="primary">Save</button>
          </div>
        </form>
    </mat-expansion-panel>    
</div>  
<div class="btnProceed">

</div>
<!---cccc
<form (ngSubmit) ="saveSecurityDetails()">
          <p>Select the options that are applicable to you</p>
            <div *ngFor="let choice of checks; let i=index">
            <mat-checkbox color="primary">
              My family's or my computer(s) / smart device(s) has been hacked before.
            </mat-checkbox><br>
            <mat-checkbox color="primary">
              My family or I have been a victim to online-fraud / defamation.
            </mat-checkbox><br>
            <mat-checkbox color="primary">
              My family or I have filed a complaint or law suit in the past due to invasion of privacy or misuse of personal Information.
            </mat-checkbox><br>
            <mat-checkbox color="primary">
              None of the above applies to my family or me.
            </mat-checkbox>
          </div>
          <div>
            <button mat-raised-button class="btnDone" type="submit" color="primary">Save</button>
          </div>
        </form>
-->