::ng-deep .mat-stepper-horizontal-line {
    flex: none !important;
    pointer-events: none !important ;
    
  }
  ::ng-deep .mat-horizontal-stepper-header {
   
    pointer-events: none !important ;
    
  }

.stepperContainer{
  width: fit-content;
    margin: 0 auto;
}

.mat-step-container{
  text-align: center;
  align-items: center;
}

.btnProceed{
    margin: 20px 0px 0px 400px;
}